@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Oswald:wght@200..700&display=swap');

/*
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 700

.oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.jockey-one-regular {
  font-family: "Jockey One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*/

body {
    margin: 0;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #F5D0DE;
}

header {
    height: 8vh;
    background-color: #DE73A5;
    padding: 10px;
    position: relative;
    width: 100%;
}

#logo-header {
    height: 100%;
}

main {
    background-color: #610C3F;
}

hr {
    border: 1px solid #F5D0DE;
}

#fecha {
    font-family: "Jockey One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #F5D0DE;
}

#iconos * {
    color: black;
}

footer {
    height: 300px;
    background-color: #DE73A5;
    position: absolute;
    bottom: 0;
    width: 100%;
}
