@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Oswald:wght@200..700&display=swap');

/*
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 700

.oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.jockey-one-regular {
  font-family: "Jockey One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*/


body {
    margin: 0;
}

header {
    position: relative;
    height: 100px;
    background-color: #DE73A5;
    background-image: url(media/nubes.svg);
}

.logo-header {
    z-index: 1;
    height: 100px;
    padding: 20px;
}

.clouds-header {
    z-index: 0;
    height: 100px;
}

main {
    background: url(media/nubes.svg) repeat-x;
    height: 100vh;
    position: relative;
}

main::before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background: #610C3F url(media/nubes.svg) repeat-x;
    background-position: bottom;
    transform: rotate(180deg);
}

.clouds-main-top {
    position: relative;
    top: 0;
    height: 10rem;
    transform: rotate(180deg);
    opacity: 0.5;
    background-repeat: repeat-x;
}

.logo-main {
    position: absolute;
    z-index: 1;
    height: 30vh;
    left: 50%;
    transform: translate(-50%);
}